body {
  margin: 0;
  padding: 24px;
  font: 16px "Century Gothic", Futura, sans-serif;
  background-color: #F7F7FC;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
}

h1, h2, h3 {
  font-weight: 300;
}

ul {
  display: flex;
  gap: 24px;
  justify-content: center;
}

li {
  list-style: none;
}