/* body {
  margin: 0;
  padding: 24px;
  font: 16px "Century Gothic", Futura, sans-serif;
  background-color: #F7F7FC;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
}

h1, h2, h3 {
  font-weight: 300;
}

ul {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  list-style: none;
}

input, button {
  padding: 8px;
  margin: 8px;
} */

/* form {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  background-color:linen;
  max-width: fit-content;
  padding: 16px;
  border-radius: 8px;
} */